{% extends "network/layout.html" %}
{% load static %}

{% block title %}
{{userinfo.username}}
{% endblock %}
{%block pageid%}
{{userinfo.id}}
{%endblock%}
{% block body %}
<div id="compose-post">
    <button id="showposts">Back to Posts</button>
<form id="post-form">
    
    <textarea id="text-content" type="textarea" placeholder="What's new?"></textarea>
    <input id="submit-post" type="submit" value="Post" style="font-size: 25px;">
</form>
</div>
<div id="profile">
    <p>{{ userinfo.username }}</p>
    <p>Followers: <span id="followercount">{{ userinfo.followers }}</span></p>
    <p>Following: <span id="followingcount">{{ userinfo.following }}</span></p>
    {% if user.is_authenticated %}
    {% if user.id != userinfo.id %}
    <button id="followbutton">Follow</button>
    {% endif %}
    {% endif %}

</div>

<div id="posts">
    Posts here!
</div>
{% endblock %}


{% block script %}
    <script>
        var likebuttonimg  = "{% static 'network/likebutton.png' %}";
        var haventlikedbuttonimg  = "{% static 'network/haventlikedbutton.png' %}";
    
    </script>
    <script src="{% static 'network/logic.js' %}">
    </script>
{% endblock script %}

